html {
  scroll-behavior: smooth;
}

body {
  width: 375px;
  font-family: sans-serif;
  background-color: white;
  padding: 20px;
  margin: auto;
}
.logo-amber {
  height: 35px;
  width: 80px;
  margin: 10px;
}

.h1 {
  max-width: 400px;
  padding: 20px;
}

h2 {
  font-size: 40px;
  color: rgb(221, 221, 221);
}

h3 {
  font-size: 30px;
  color: rgb(101, 101, 101);
}

h4 {
  margin-left: 10px;
  font-size: small;
  color: rgb(101, 101, 101);
}

h5{
  font-size: large;
}

p {
  font-size: 20px;
  color: rgb(175, 171, 171);
}


img {
  max-width: 35px;
}

.logo-amber {
  max-width: 120px;
  margin: 10px;
}

.retailers-info {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.retailers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.retailers-selling {
  font-size: 15px;
  margin: 12px;
}

.help-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contactimg {
  max-width: 300px;
  margin: 12px;
  
}

